[push]
	default = tracking
[color]
	ui = true
[diff]
	renames = copies
	algorithm = histogram
	mnemonicprefix = true
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = false
[merge]
	tool = diffmerge
	stat = true
[gc]
	auto = 1
[format]
	pretty = fuller
[instaweb]
	local = true
	httpd = webrick
	port = 54321
	browser = open
[log]
	date = iso
	abbrevCommit = true
[format]
	pretty = tformat:%C(white red bold) %h %Creset %C(cyan)%an%Creset %s %Cgreen(%cd)%Creset%C(yellow)%d%Creset
[core]
	filemode = true
	pager = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less -FXnSR
	editor = vim
	autocrlf = input
	whitespace = trailing-space,space-before-tab
[credential]
	helper = store #osxkeychain
[url "git@github.com:"]
	insteadOf = git://github.com/
[http]
	sslVerify
[advice]
	statusHints = false
[rerere]
	enabled = true
[include]
	path = ~/.gitconfig.d/aliases.gitconfig
	path = ~/.gitconfig.local
# ex: filetype=gitconfig
