[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/vim-flavored-markdown"]
	path = .vim/bundle/vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule ".lldb/plugins/chisel"]
	path = .lldb/plugins/chisel
	url = https://github.com/facebook/chisel.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-css-color.git"]
	path = .vim/bundle/vim-css-color.git
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
