[push]
	default = tracking
[color]
	ui = true
[diff]
	renames = copies
	algorithm = histogram
	mnemonicprefix = true
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = false
[merge]
	tool = diffmerge
	stat = true
[gc]
	auto = 1
[format]
	pretty = fuller
[instaweb]
	local = true
	httpd = webrick
	port = 54321
	browser = open
[log]
	date = iso
[alias]
	# Emoji prefix support, inspired from https://gitmoji.carloscuesta.me/
	o-o = "!f() { local p=\"$1\" m=\"$2\"; shift 2; git commit -m \"$p $m\" ${1+\"$@\"}; }; f"
	commitbug = !git o-o 🐛
	commitcritical = !git o-o 🚑
	commitdoc = !git o-o 📚
	commitrelease = !git o-o 🚀
	commitfeature = !git o-o ✨
	commitui = !git o-o 💄
	commitmeta = !git o-o 📇
	commitrefactor = !git o-o ♻️
	commitlocalization = !git o-o 🌐
	commitoptimization = !git o-o ⚡️
	commitcosmetics = !git o-o 🎨
	commitdeprecation = !git o-o 💩
	commitremoval = !git o-o 🗑️
	commitlint = !git o-o 🚨
	commitwip = !git o-o 🚧
	committools = !git o-o 🔧
	commitrename = !git o-o 🚚
	commitbreaking = !git o-o 💥
	commitaccessibility = !git o-o ♿️
	commitstrings = !git o-o 💬
	commitdca = !git o-o 🙈
	dif  = diff --minimal --patience -M50% -D -w #--color-words
	difflines = diff --minimal --patience -M50% -D -w
	delete-tag = "!f() { git tag -d \"${2:-$1}\" && if [ -n \"$2\" ]; then git push \"$1\" \":$2\"; fi; }; f"
	push-for-review = !git push gerrit HEAD:refs/for/${1:-develop}
	pass  = !ssh gerrit gerrit review $(git rev-parse HEAD) --verified 1 --code-review 2 -s
	backlog = log --graph --pretty=tformat:'%C(white red bold) %h %Creset %C(cyan)%an%Creset %s %Cgreen(%cd)%Creset%C(yellow)%d%Creset' --abbrev-commit #--no-merges
	taglog = "!git tag -l | while read T do; do git log -n 1 --pretty=tformat:'%C(red bold) %cd %Creset '$T $T | cat ; done"
	tinylog = !git backlog -n10
	last = rev-list --max-count=1 HEAD
	remodule = submodule update --init --recursive --force
	reinit = !git clean -fdx && git submodule foreach --recursive git clean -fdx && git reset --hard && git submodule foreach --recursive git reset --hard && git remodule
	tarball = !git archive HEAD --format=tar | bzip2 > "$(git rev-parse --git-dir)/../snapshot-$(git last).tar.bz2"
	snapshot = !git stash save --include-untracked "snapshot: $(date -u +'%Y-%m-%d %H:%M:%S')" && git stash apply "stash@{0}"
	filediff = diff --minimal --histogram --word-diff=color -M50% -D -w --no-index
	list-not-merged = "!f() { git rev-list --cherry --pretty=tformat:\"%C(white red bold) %h %Creset %C(cyan)%cn%Creset %s %Cgreen(%cr)%Creset%C(yellow)%d%Creset\" \"${1}...${2}\" | /usr/bin/sed -n \"g;n;p\"; }; f"
[core]
	filemode = true
	#pager = less -FXnSR
	pager = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less -FXnSR
	editor = vim
	autocrlf = input
	whitespace = trailing-space,space-before-tab
[credential]
	helper = store #osxkeychain
[url "git@github.com:"]
	insteadOf = git://github.com/
[url "ssh://git@git.rakuten-it.com:7999/"]
	insteadOf = https://git.rakuten-it.com/scm/
[url "ssh://git@gitpub.rakuten-it.com:7999/"]
	insteadOf = https://gitpub.rakuten-it.com/scm/
[http]
	sslVerify
[http "https://gerrit.dev.rakuten-it.com"]
	sslVerify = false
[advice]
	statusHints = false
[rerere]
	enabled = true
