[com.colliderli.iina]
	viewer = com.apple.m4v-video
	viewer = com.apple.quicktime-movie
	viewer = com.microsoft.windows-media-wmv
	viewer = io.iina.3gpp
	viewer = io.iina.3gpp2
	viewer = io.iina.asf
	viewer = io.iina.avi
	viewer = io.iina.divx
	viewer = io.iina.dv
	viewer = io.iina.mkv
	viewer = io.iina.mpeg-stream
	viewer = io.iina.mpeg-video
	viewer = io.iina.mpeg4-video
	viewer = io.iina.ogg-video
	viewer = io.iina.playlist
	viewer = io.iina.quicktime
	viewer = io.iina.realmedia
	viewer = io.iina.vob
	viewer = io.iina.webm
	viewer = io.iina.wmv
	viewer = org.perian.matroska
	viewer = org.videolan.divx
	viewer = org.videolan.mpeg-stream
	viewer = org.videolan.vob
	viewer = org.videolan.webm
	viewer = org.webmproject.webm
	viewer = org.xiph.ogg-video
	viewer = org.xiph.ogv
	viewer = public.3gpp
	viewer = public.3gpp2
	viewer = public.avchd-mpeg-2-transport-stream
	viewer = public.avi
	viewer = public.movie
	viewer = public.mpeg
	viewer = public.mpeg-2-transport-stream
	viewer = public.mpeg-2-video
  viewer = public.mpeg-4
  viewer = public.video
[com.google.Chrome]
  viewer = public.html
[com.microsoft.VSCode]
	viewer = public.plain-text
	viewer = public.protobuf-source
  viewer = public.yaml
	viewer = public.utf16-plain-text
	viewer = public.utf8-plain-text
[org.galad.Subler]
  editor = public.mpeg-4
